body {
     background-color: black;
}
h1 {
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: gray;
}
p {
    font-family: 'Segoe UI';
    font-size: medium;
    text-align: center;
    color: gray;
}